<h1>My Diary Entries</h1>

<%= link_to "Write new entry", new_entry_path %>

<ul>
  <% @entries.each do |entry| %>
  <li>
    <strong><%= link_to entry.title, entry %></strong> <%= entry.body %>
  </li>
  <% end %>
</ul>
